parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/BaseDocument.php

		-
			message: "#^Cannot access offset 'file' on mixed\\.$#"
			count: 1
			path: src/BaseDocument.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 3
			path: src/BaseDocument.php

		-
			message: "#^Cannot access offset 'message' on mixed\\.$#"
			count: 4
			path: src/Client.php

		-
			message: "#^Method Invoiced\\\\Client\\:\\:buildHeaders\\(\\) should return array\\<string\\> but returns array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#1 \\$message of class Invoiced\\\\Error\\\\ApiError constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#1 \\$message of class Invoiced\\\\Error\\\\AuthenticationError constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#1 \\$message of class Invoiced\\\\Error\\\\InvalidRequest constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#1 \\$message of class Invoiced\\\\Error\\\\RateLimitError constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#3 \\$error of class Invoiced\\\\Error\\\\ApiError constructor expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#3 \\$error of class Invoiced\\\\Error\\\\AuthenticationError constructor expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#3 \\$error of class Invoiced\\\\Error\\\\InvalidRequest constructor expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#3 \\$error of class Invoiced\\\\Error\\\\RateLimitError constructor expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Property Invoiced\\\\Error\\\\ErrorBase\\:\\:\\$error is never read, only written\\.$#"
			count: 1
			path: src/Error/ErrorBase.php

		-
			message: "#^Property Invoiced\\\\Error\\\\ErrorBase\\:\\:\\$statusCode is never read, only written\\.$#"
			count: 1
			path: src/Error/ErrorBase.php

		-
			message: "#^Method Invoiced\\\\Util\\:\\:buildObjects\\(\\) has parameter \\$objects with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Util.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: tests/CreditNoteTest.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 1
			path: tests/CreditNoteTest.php

		-
			message: "#^Cannot access property \\$total_count on mixed\\.$#"
			count: 1
			path: tests/CreditNoteTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, mixed given\\.$#"
			count: 1
			path: tests/CreditNoteTest.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 9
			path: tests/CustomerTest.php

		-
			message: "#^Cannot access offset 1 on mixed\\.$#"
			count: 2
			path: tests/CustomerTest.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 4
			path: tests/CustomerTest.php

		-
			message: "#^Cannot access property \\$total_count on mixed\\.$#"
			count: 4
			path: tests/CustomerTest.php

		-
			message: "#^Cannot call method getEndpoint\\(\\) on mixed\\.$#"
			count: 5
			path: tests/CustomerTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, mixed given\\.$#"
			count: 4
			path: tests/CustomerTest.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: tests/EstimateTest.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 1
			path: tests/EstimateTest.php

		-
			message: "#^Cannot access property \\$total_count on mixed\\.$#"
			count: 1
			path: tests/EstimateTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, mixed given\\.$#"
			count: 1
			path: tests/EstimateTest.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 3
			path: tests/InvoiceTest.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 2
			path: tests/InvoiceTest.php

		-
			message: "#^Cannot access property \\$total_count on mixed\\.$#"
			count: 2
			path: tests/InvoiceTest.php

		-
			message: "#^Cannot call method getEndpoint\\(\\) on mixed\\.$#"
			count: 1
			path: tests/InvoiceTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, mixed given\\.$#"
			count: 2
			path: tests/InvoiceTest.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 2
			path: tests/PaymentSourceTest.php

		-
			message: "#^Cannot access offset 1 on mixed\\.$#"
			count: 1
			path: tests/PaymentSourceTest.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 1
			path: tests/PaymentSourceTest.php

		-
			message: "#^Cannot access property \\$total_count on mixed\\.$#"
			count: 1
			path: tests/PaymentSourceTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, mixed given\\.$#"
			count: 1
			path: tests/PaymentSourceTest.php

